---
import { Trans } from "astro-i18next/components";
import { t } from "i18next";
---

<section
  id="about"
  class="container flex flex-col p-2 py-6 divide-orange-700 max-md:divide-y md:divide-x divide-dashed md:flex-row sm:py-10 md:py-14"
>
  <div
    class="flex flex-col items-center justify-center gap-1 p-4 md:pl-2 w-full"
  >
    <Trans i18nKey="Iam">
      <span class="text-3xl">I am Adrian López</span>
      <span class="text-2xl">
        <span class="font-bold text-indigo-600 font-amita">Front-end</span> developer
      </span>
      <span class="text-xl text-center">
        <span class="font-bold text-cyan-600 font-amita">Self-taught</span> and enthusiastic
        programmer
      </span>
      <span class="text-xl">
        <span class="font-bold text-teal-700 font-amita">Functional</span> programming
        lover
      </span>
    </Trans>
  </div>
</section>
