---
import { localizePath } from "astro-i18next";
import { LanguageSelector } from "astro-i18next/components";
import { t } from "i18next";
import Navbar from "./Navbar.astro";
import NavLink from "./NavLink.astro";
import data from "data.json";
import Tooltip from "./Tooltip.astro";
import Icon from "./Icon.astro";
---

<Navbar>
  <div class="flex items-center gap-3">
    <a href={localizePath("/")} class="font-bold font-amita text-cyan-600">
      Xeraph
    </a>
    <ul class="flex gap-2">
      <li>
        <NavLink href={localizePath("/blog")}>{t("blog")}</NavLink>
      </li>
    </ul>
  </div>
  <div class="flex items-center gap-3">
    <span
      class="px-2 py-1 transition rounded-md hover:bg-slate-900 hover:shadow-sm"
    >
      <Tooltip title={t("change_language")} placement="bottom">
        <LanguageSelector showFlag class="bg-transparent outline-none" />
      </Tooltip>
    </span>
    <Tooltip title={t("go_to_repository")} placement="bottom">
      <a href={data.projectRepository} target="_blank" class="flex">
        <Icon icon="GitHub" />
      </a>
    </Tooltip>
  </div>
</Navbar>
