<header class="container p-2 sticky top-0 z-50">
  <nav
    class="bg-slate-300 py-2 px-4 shadow-lg bg-opacity-5 backdrop-blur-lg rounded-md w-full flex justify-between"
  >
    <slot />
  </nav>
</header>
